h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.wrapper {
    padding-bottom: 25px;

}

.password-field {
    display: relative;
}

.toggle-password {
    cursor: pointer;
}

.dice {
    cursor: pointer;
}

.password-field .toggle-password {
    position: absolute;
    top: 403px;
    right: 323px;
}

.password-field .dice {
    position: absolute;
    top: 403px;
    right: 360px;
}










































/* .form-control {
    width: 100%;
    margin: 1rem 0;
    position: relative;
}


.toggle-password {
    position: absolute;
    top: 31%;
    right: 19rem;
    cursor: pointer;
    user-select: none;
} */

/* .toggle-modal {
    position: absolute;
    top: 31%;
    right: 5 rem;
    cursor: pointer;
    user-select: none;
} */




