{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_content %}


<div class="container">
    <h1>Create New Account Entry</h1>
    
    <form action="" method="post">
        {% csrf_token %}
        
        <label for="title">Title</label>
        {{ form.title }}

        <label for="username">Username</label>
        {{ form.username }}

        <label for="id_password">Password</label>
        {{ form.password }}
        <span class="" data-bs-toggle="modal" data-bs-target=""}>
            <i id="dice" class="fas fa-dice"></i>
        </span>
        <span class="toggle-password" data-bs-toggle="modal">
            <i class="fas fa-eye" id="eye"></i>
        </span>
        

    </form>
            
</div>
{% endblock %}
