{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_content %}

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">New account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="container">
    
          <form action="" method="post">
            {% csrf_token %}
              <div class="wrapper">
                <label for="title">Title</label>
                {{ form.title }}
              </div>
              
              <div class="wrapper">
                <label for="id_username">Username</label>
                {{ form.username }}
              </div>

              <div class="wrapper">
                <label for="id_email">Email</label>
                {{ form.email }}
              </div>
                  
              <div class="wrapper password-field">
                <label for="id_password">Password</label>
                {{ form.password }}
                <span class="toggle-modal dice" data-bs-toggle="modal" data-bs-target="#"}>
                  <i id="dice" class="fas fa-dice"></i>
                </span>
                <span class="toggle-password ">
                  <i class="fas fa-eye" id="eye"></i>
                </span>
              </div>

              <div class="wrapper">
                <label for="id_url">URL</label>
                {{ form.url }}
              </div>

              <div class="wrapper">
                <label for="id_notes">Notes</label>
                {{ form.notes }}
              </div>
              
              <button class="btn btn-primary" type="submit">Add</button>
              <a href="{% url 'accounts' %}" class="btn btn-danger">Back</a>
          </form>
            
</div>


      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" >Open second modal</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
