{% extends 'base.html' %}

{% block page_content %}

{% include 'navbar.html' %}


<div class="container">
    
    {% if user.is_authenticated %}

    <h2>Hello {{ user.username|capfirst }}</h2>

    <!-- MODAL BUTTON -->
    <!-- <a class="btn btn-secondary"href="{#% url 'new_account' %#}" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Crete Account</a> -->

    <a class="btn btn-secondary" href="{% url 'new_account' %}" >Crete Account</a>


    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Password</th>
                <th>URL</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.title }}</td>
                <td><a class="tc to-clp" href="#" data={{ account.username }}>{{ account.username }}</a></td>
                <td><a class="tc to-clp" href="#" data={{ account.email }}>{{ account.email }}</a></td>


                <td>
                    <a class="tc to-clp" href="#" data={{ account.password }}>*********</a>
                </td>


                <td><a href="{{ account.url }}" target="_blank">{{ account.url }}</a></td> 
                <td>{{ account.notes|slice:":50" }}</td>
                <td>

                    <a class="btn btn-sm btn-secondary" href="{% url 'edit' account.id %}">Edit</a>

                    <form action="{% url 'delete' account.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Deleting this account will cause all of the information to be lost.\nDo you wish to continue?')">Delete</button></button>
                    </form>

                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h1>You have no permission to be here</h1>
    {% endif %}
</div>

{#% include 'manager/add_account.html' %#}

{% endblock %}
